@import url("https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Risque&display=swap");

img {
  width: 100%;
}

.page {
  position: relative;
  background: url("./img/tbotbackground.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin-top: -24px;
  margin-bottom: -50px;
  font-family: "Antic Slab", serif;
}

.page-light {
  position: relative;
  background: url("./img/tbotbackgroundlight.png") no-repeat;
  background-size: cover;
  background-position: center;
  height: 85vh;
  margin-top: -24px;
  margin-bottom: -50px;
  font-family: "Antic Slab", serif;
}

.logo {
  position: relative;
  background: url("./img/tbotlogo.png") no-repeat;
  background-position: center;
  height: 30vh;
  margin-top: -24px;
  margin-bottom: -50px;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}

.lead-landing {
  color: #ccfffc;
  font-size: 1.3rem;
}

.antic-font {
  font-family: "Antic Slab";
}

.antic-font-light {
  font-family: "Antic Slab";
  color: #ccfffc;
}

.risque-font {
  font-family: "Risque";
}

.submit-btn {
  background-color: #94f4ef;
  font-weight: 100;
  font-size: 1.3rem;
}
/* .log-out-btn {
  background-color: black;
} */
